body {
    background-color: rgb(192, 241, 241);
}

.first {
    background-color: grey;
    border: solid black;
    border-radius: 30px;
    padding: 10px;
    display: inline-block;
}

.second {
    background-color: white;
    display: inline-block;
    border: solid black;
    border-radius: 30px;
    padding: 10px;
}
.white1, .articles {
    background-color: white;
    display: inline-block;
    width: 200px;
    border: 2px solid rgb(94, 93, 93);
}

.white1 h2, .articles h2 {
    text-decoration: underline;
}

.small {
    background-color: rgb(201, 199, 199);
    display: inline-block;
    width: 200px;
    border: 2px solid rgb(46, 45, 45);
}
.white2 {
    background-color: white;
    height: 130px;
    width: 120px;
    display: inline-block;
    padding: 10px;
}

a {
    text-decoration: none;
}

a:link {
    color: rgb(56, 116, 194);
}
a:visited {
    color:rgb(56, 116, 194);
}
a:hover {
    color: rgb(56, 116, 194);
    text-decoration: underline;
}

a:active {
    color:rgb(149, 150, 151);
}

.bigtext:target { 
    text-decoration: underline;
    font-style: oblique;
}