p {
    color:#ee8881;
    background-color: #FFB7B2;
    background-position: 50px ;
    border-bottom-style: solid ;
    border-bottom-color: #FF9AA2;
    border-left-style: solid;
    border-left-color: #FF9AA2;
    
    
}

img {
    border-style: double;
    border-color: #FF9AA2;
    border-width: 10px; 
}
div{
    display: inline-block;
    background-color: #ffffe5;
    padding: 30px;
}

