body {
    background-color: #858585;
}
table {
    width: 100%;
    border-radius: 20px;
    letter-spacing: 1px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
th {
    text-transform: uppercase; 
    background-color: #333333;
    padding: 10px;
}
th, td {
    width: 12%;
}
td {
    padding: 10px;
    vertical-align: top;
}
.number {
    display: block;
    margin-bottom: 10px;
}
.calendar {
    height: 150px;
    background-color: #777777;
}
.single-day {
    
    background-color: #ff9999;
    border-radius: 10px;
    text-align: center;
}
.single-day2 {
    
    background-color: #c8a0d4;
    border-radius: 10px;
    text-align: center;
}
.single-day3 {
    
    background-color: #ff9999;
    border-radius: 10px;
    text-align: center;
}
.single-day4 {
    
    background-color:#85d6ff;
    border-radius: 10px;
    text-align: center;
}
.event-start {
    background-color: #85d6ff;
    margin-right: -20px;
}
.event-middle {
    background-color: #85d6ff;
    margin-right: -20px;
    margin-left: -20px;
}
.event-end {
    background-color: #85d6ff;
    margin-left: -20px;
}
.event {
    display: block;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 6px;
    height: 18px;
    color: #4c4c4c;
    border-radius: 10px;
}
.event-start2 {
    background-color: #85ffae;
    margin-right: -20px;
}
.event-middle2 {
    background-color: #85ffae;
    margin-right: -20px;
    margin-left: -20px;
}
.event-end2 {
    background-color: #85ffae;
    margin-left: -20px;
}
.event-long {
    display: block;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    height: 18px;
    color: #4c4c4c;
    border-radius: 10px;
}
.event-long-center {
    display: block;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    height: 18px;
    color: #4c4c4c;
    border-radius: 10px;
}
.event-start3 {
    background-color: #c8a0d4;
    margin-right: -20px;
}
.event-end3 {
    background-color: #c8a0d4;
    margin-left: -20px;
}